

<h1>
  <%= @user.username %>
</h1>
<% if not @user.active  %>
  <span class="badge badge-info">account closed</span>
<% end %>
<% if current_user%>
<% if current_user.admin == true && @user.active == true  %>
    <%= link_to "close account", toggle_activity_user_path(@user.id), method: :post, class: "btn btn-danger" %>
<% end %>
<% if current_user.admin == true && @user.active == false  %>
    <%= link_to "open account", toggle_activity_user_path(@user.id), method: :post, class: "btn btn-danger" %>
<% end %>
<%end%>
<br>
<% if @user.ratings.empty? %>
  Has not rated anything yet!
<% else %>
  Has made <%= @user.ratings.count %>  <%= 'rating'.pluralize(@user.ratings.count)%>, average <%= @user.round(@user.average_rating) %> 
  <p>Favorite beer style: <%= @user.favorite_style.name %> </p>
  <p>Favorite brewery: <%= @user.favorite_brewery %> </p>
<% end %>



<p> member of </p>
<tbody>
  <ul>
    <% @user.beer_clubs.each do |club| %>
    <% if club.memberships.find_by_user_id(@user.id).confirmed == true %>

     <li> <%= link_to club do %>
       <%= club.name %>  
      <% end %>  </li>
    <% end %>
    <% end %>
  </ul>
</tbody>

<p> applied membership of </p>
<tbody>
  <ul>
    <% @user.beer_clubs.each do |club| %>
    <% if club.memberships.find_by_user_id(@user.id).confirmed == false %>

     <li> <%= link_to club do %>
       <%= club.name %>  
      <% end %>  </li>
    <% end %>
    <% end %>
  </ul>
</tbody>

<h2> ratings </h2>
<tbody>
  <ul>
  <% @user.ratings.each do |rating| %>
    <li>
      <%= rating %>
      <% if @user == current_user %>
          <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </li>
  <% end %>
  </ul>
</tbody>

<% if current_user == @user %> 
  <%= edit_and_destroy_buttons(@user) %>
  <% end%>
<%= link_to('Back', users_path,class:'btn btn-primary')  %>
