<p id="notice"><%= notice %></p>

<h2>List of ratings</h2>

<tbody>
  <ul>
    <% @ratings.each do |rating| %>
      <li> <%= rating %> <%= link_to rating.user.username, rating.user%> </li>
    <% end %>
  </ul>

  <p>Number of ratings <%= @ratings.count %></p>
  <p> <%= link_to "Create a new rating", new_rating_path %> </p>
</tbody>