<h1><%= @style.name %></h1>

<quote> <%= @style.info%> </quote>

<p> <strong>beers </strong></p>

<tbody>
  <ul>
    <%  @style.beers.each do |beer|  %>
      <li><%= link_to beer.name, beer%> by <%= link_to beer.brewery.name, beer.brewery%> </li>
    <% end %>
  </ul>
  </tbody>
  <%= edit_and_destroy_buttons(@style) %>
  