<p id="notice"><%= notice %></p>

<h2>
  <%= @brewery.name %>
</h2>

<i>
  <strong>Established in 
  <%= @brewery.year %>
  </strong>
</i>
</br>
<p> Number of beers <%= @brewery.beers.count %> </p>
<p>
 <% @brewery.beers.each do |beer| %>
    <%= link_to beer do %>
    <%= beer.name %>
    <% end %>
 <% end %>
</p>
<% if @brewery.ratings.empty? %>
 brewery has not yet been rated!
<% else %>
 Has <%= @brewery.ratings.count %>  <%= 'rating'.pluralize(@brewery.ratings.count)%>, average <%= @brewery.average_rating %> 
<% end %>

</br>

<%= link_to 'Edit', edit_brewery_path(@brewery) if current_user%>
<br>
<%= link_to 'Destroy', @brewery, method: :delete, data: { confirm: 'Are you sure?' } if current_user %>
